@{
    ViewData["Title"] = "Book Returned";
}

<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 80px);">
    <div class="text-center">
        <h1 class="text-light">Book is returned</h1>
        <a href="/Home/RentedBooks" class="btn bg-light text-dark mt-3">OK</a>
    </div>
</div>
