@{
    ViewData["Title"] = "Edit Username";
    var currentUsername = ViewBag.CurrentUserName as string;
}

<div class="container d-flex flex-column align-items-center justify-content-center mt-5" style="height: calc(100vh - 200px);">
    <h2 class="text-light text-center mb-4">Edit Your Username</h2>

    @if (!string.IsNullOrEmpty(currentUsername))
    {
        <h5 class="text-light mb-3">Current Username: <span class="text-light">@currentUsername</span></h5>
    }

    @if (TempData["Message"] != null)
    {
        <div>
            <h6 class="text-white">@TempData["Message"]</h6>
        </div>
    }

    <form method="post" asp-action="EditUserName" asp-controller="Home" class="w-50">
        <div class="mb-3 text-center d-flex justify-content-center">
            <input type="text" class="form-control text-center" name="newUserName" placeholder="Enter New Username" required style="max-width: 325px;">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn bg-light text-dark">Update</button>
        </div>
    </form>
</div>
