@{
    ViewData["Title"] = "Home";
}

<div class="container d-flex flex-column align-items-center justify-content-center text-light " style="height: calc(100vh - 80px);">
    
    <div>
        <h2 class="display-4 fw-bold">Community Book Exchange Platform</h2>
    </div>
    <h1>A book shared is a world expanded.</h1>
    <div>
        <p class="lead"> Exchange stories, and let knowledge flow 📚</p>
    </div>
</div>

